<template>
<div>
  <md-progress md-indeterminate class="md-accent" :md-indeterminate="process"></md-progress>

  <md-toolbar>
    <h2 class="md-title" style="flex: 1">User Management</h2>

    <md-button class="md-icon-button" v-on:click="logoutBtn">
      <md-icon>close</md-icon>
      <md-tooltip md-direction="bottom">Logout</md-tooltip>
    </md-button>
  </md-toolbar>

  <md-card>
    <md-card-header>
      <md-card-header-text>
        <div class="md-title">Create/Edit User Record</div>
      </md-card-header-text>
    </md-card-header>

    <md-card-content>
      <md-table>

        <md-table-body>
          <md-table-row>
            <md-table-cell>Create New Record?</md-table-cell>
            <md-table-cell>
              <md-switch v-model="form1mode" id="my-test0" name="my-test0" v-on:change="form1modeChange"></md-switch>
            </md-table-cell>
          </md-table-row>
          <md-table-row v-if="!form1mode">
            <md-table-cell>Select Account</md-table-cell>
            <md-table-cell>
              <md-table-cell>
                <label for="form1data.selectedID">Please Select</label>
                <md-select name="form1data.selectedID" id="form1data.selectedID" v-model="form1data.selectedID" v-on:change="selectedIDChange">
                  <template v-for="form1user in form1usersList">
                  <md-option v-model="form1user.value">{{ form1user.text }}</md-option>
</template>
                </md-select>
              </md-table-cell>
          </md-table-row>
          <md-table-row>
            <md-table-cell>USER_ID</md-table-cell>
            <md-table-cell>
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('USER_ID') }">
                <md-input v-mask="'######'" maxlength="6" v-model="form1data.USER_ID" required v-validate="'required|min:6|max:6'" data-vv-name="USER_ID" name="USER_ID" :disabled="!form1mode"></md-input>
                <span class="md-error">{{ errors.first('USER_ID') }}</span>
              </md-input-container>
            </md-table-cell>
          </md-table-row>
          <md-table-row>
            <md-table-cell>NAME</md-table-cell>
            <md-table-cell>
              <md-input-container>
                <md-input v-model="form1data.NAME" required name="Name"></md-input>
              </md-input-container>
            </md-table-cell>
          </md-table-row>
          <md-table-row>
            <md-table-cell>BIRTHDAY</md-table-cell>
            <md-table-cell>
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('BIRTHDAY') }">
                <label>YYYY-MM-DD</label>
                <md-input v-mask="'####-##-##'" v-model="form1data.BIRTHDAY" required v-validate="'required|min:10|max:10'" data-vv-name="BIRTHDAY" name="BIRTHDAY"></md-input>
                <span class="md-error">{{ errors.first('BIRTHDAY') }}</span>
              </md-input-container>
            </md-table-cell>
          </md-table-row>
          <md-table-row>
            <md-table-cell>SEX</md-table-cell>
            <md-table-cell>
              <md-select name="form1data.SEX" id="form1data.SEX" v-model="form1data.SEX">
                <md-option value="1">Male</md-option>
                <md-option value="0">Female</md-option>
              </md-select>
            </md-table-cell>
          </md-table-row>
          <md-table-row>
            <md-table-cell>SMOKER</md-table-cell>
            <md-table-cell>
              <md-select name="form1data.SMOKER" id="form1data.SMOKER" v-model="form1data.SMOKER">
                <md-option value="1">Yes</md-option>
                <md-option value="0">No</md-option>
              </md-select>
            </md-table-cell>
          </md-table-row>
          <md-table-row>
            <md-table-cell>HAS_INJECTION</md-table-cell>
            <md-table-cell>
              <md-select name="form1data.HAS_INJECTION" id="form1data.HAS_INJECTION" v-model="form1data.HAS_INJECTION">
                <md-option value="Y">Yes</md-option>
                <md-option value="N">No</md-option>
              </md-select>
            </md-table-cell>
          </md-table-row>

          <md-table-row>
            <md-table-cell>Wakeup time</md-table-cell>
            <md-table-cell>
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('MORNING_START_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.MORNING_START_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="MORNING_START_TIME" name="MORNING_START_TIME"></md-input>
                <span class="md-error">{{ errors.first('MORNING_START_TIME') }}</span>
              </md-input-container>
              to
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('MORNING_END_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.MORNING_END_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="MORNING_END_TIME" name="MORNING_END_TIME"></md-input>
                <span class="md-error">{{ errors.first('MORNING_END_TIME') }}</span>
              </md-input-container>
            </md-table-cell>
          </md-table-row>

          <md-table-row>
            <md-table-cell>Breakfast time</md-table-cell>
            <md-table-cell>
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('BREAKFAST_START_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.BREAKFAST_START_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="BREAKFAST_START_TIME" name="BREAKFAST_START_TIME"></md-input>
                <span class="md-error">{{ errors.first('BREAKFAST_START_TIME') }}</span>
              </md-input-container>
              to
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('BREAKFAST_END_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.BREAKFAST_END_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="BREAKFAST_END_TIME" name="BREAKFAST_END_TIME"></md-input>
                <span class="md-error">{{ errors.first('BREAKFAST_END_TIME') }}</span>
              </md-input-container>
            </md-table-cell>
          </md-table-row>

          <md-table-row>
            <md-table-cell>Lunch Time</md-table-cell>
            <md-table-cell>
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('LUNCH_START_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.LUNCH_START_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="LUNCH_START_TIME" name="LUNCH_START_TIME"></md-input>
                <span class="md-error">{{ errors.first('LUNCH_START_TIME') }}</span>
              </md-input-container>
              to
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('LUNCH_END_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.LUNCH_END_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="LUNCH_END_TIME" name="LUNCH_END_TIME"></md-input>
                <span class="md-error">{{ errors.first('LUNCH_END_TIME') }}</span>
              </md-input-container>
            </md-table-cell>
          </md-table-row>

          <md-table-row>
            <md-table-cell>Dinner Time</md-table-cell>
            <md-table-cell>

              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('DINNER_START_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.DINNER_START_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="DINNER_START_TIME" name="DINNER_START_TIME"></md-input>
                <span class="md-error">{{ errors.first('DINNER_START_TIME') }}</span>
              </md-input-container>
              to
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('DINNER_END_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.DINNER_END_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="DINNER_END_TIME" name="DINNER_END_TIME"></md-input>
                <span class="md-error">{{ errors.first('DINNER_END_TIME') }}</span>
              </md-input-container>
            </md-table-cell>
            </md-table-cell>
          </md-table-row>

          <md-table-row>
            <md-table-cell>Bed Time</md-table-cell>
            <md-table-cell>

              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('BED_START_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.BED_START_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="BED_START_TIME" name="BED_START_TIME"></md-input>
                <span class="md-error">{{ errors.first('BED_START_TIME') }}</span>
              </md-input-container>
              to
              <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('BED_END_TIME') }">
                <label>HH:MM</label>
                <md-input v-mask="'##:##'" v-model="form1data.BED_END_TIME" required v-validate="'required|min:5|max:5'" data-vv-name="BED_END_TIME" name="BED_END_TIME"></md-input>
                <span class="md-error">{{ errors.first('BED_END_TIME') }}</span>
              </md-input-container>
            </md-table-cell>
          </md-table-row>

          <md-table-row>
            <md-table-cell>HEIGHT_UNIT</md-table-cell>
            <md-table-cell>
              <md-select name="form1data.HEIGHT_UNIT" id="form1data.HEIGHT_UNIT" v-model="form1data.HEIGHT_UNIT">
                <md-option value="1">inch</md-option>
                <md-option value="0">cm</md-option>
              </md-select>
            </md-table-cell>
          </md-table-row>

          <md-table-row>
            <md-table-cell>WEIGHT_UNIT</md-table-cell>
            <md-table-cell>
              <md-select name="form1data.WEIGHT_UNIT" id="form1data.WEIGHT_UNIT" v-model="form1data.WEIGHT_UNIT">
                <md-option value="1">lb</md-option>
                <md-option value="0">kg</md-option>
              </md-select>
            </md-table-cell>
          </md-table-row>

          <md-table-row>
            <md-table-cell>WAIST_UNIT</md-table-cell>
            <md-table-cell>
              <md-select name="form1data.WAIST_UNIT" id="form1data.WAIST_UNIT" v-model="form1data.WAIST_UNIT">
                <md-option value="1">inch</md-option>
                <md-option value="0">cm</md-option>
              </md-select>
            </md-table-cell>
          </md-table-row>
        </md-table-body>
      </md-table>

    </md-card-content>

    <md-card-actions>
      <md-button class="md-raised md-accent" v-if="form1mode" v-on:click="resetBtn">Reset</md-button>
      <md-button class="md-raised md-primary" v-if="form1mode" v-on:click="addBtn">Submit</md-button>
      <md-button class="md-raised md-accent" v-if="!form1mode" v-on:click="delBtn">Delete</md-button>
      <md-button class="md-raised md-primary" v-if="!form1mode" v-on:click="updateBtn">Update</md-button>
    </md-card-actions>
  </md-card>

  <md-snackbar :md-position="'top center'" ref="otheralert" :md-duration="4000">
    <span>{{ otheralertmsg }}<span>
  <md-button class="md-accent" md-theme="light-blue" @click="$refs.otheralert.close()">Close</md-button>
</md-snackbar>

  <md-snackbar :md-position="'top center'" ref="timeoutalert" :md-duration="4000">
    <span>Connection timeout. Please try again later.<span>
    <md-button class="md-accent" md-theme="light-blue" @click="$refs.timeoutalert.close()">Close</md-button>
  </md-snackbar>

  </div>
</template>

<script>
var alertify = require('alertify.js')
export default {
  name: 'hello',
  data () {
    return {
      process: false,
      otheralertmsg: '',
      form1mode: 1,
      form1usersList: [],
      username: '',
      form1data: {
        SEX: '1',
        SMOKER: '0',
        HAS_INJECTION: 'N',
        BIRTHDAY: '',
        USER_ID: '',
        NAME: '',
        MORNING_START_TIME: '08:00',
        MORNING_END_TIME: '10:00',
        BREAKFAST_START_TIME: '08:00',
        BREAKFAST_END_TIME: '10:00',
        LUNCH_START_TIME: '12:00',
        LUNCH_END_TIME: '14:30',
        DINNER_START_TIME: '18:00',
        DINNER_END_TIME: '21:30',
        BED_START_TIME: '23:59',
        BED_END_TIME: '08:00',
        HEIGHT_UNIT: '0',
        WEIGHT_UNIT: '0',
        WAIST_UNIT: '0',
        selectedID: -1
      }
    }
  },
  mounted () {
    console.log('Page Mounted!')
    var that = this
    var regularCheckLogin = function () {
      that.$http.post('../api/?t=' + new Date().getTime(), {
        event: 'check_login'
      }).then(response => {
        if (response.body.loggedin === false) {
          alertify.alert('Timeout! Please login your account.')
          console.log('Timeout! Please login your account.')
        }
      }, response => {
      })
    }
    setInterval(regularCheckLogin, 60000)
  },
  methods: {
    resetBtn: function (e) {
      this.$data.form1data.SEX = '1'
      this.$data.form1data.SMOKER = '0'
      this.$data.form1data.HAS_INJECTION = 'N'
      this.$data.form1data.BIRTHDAY = ''
      this.$data.form1data.USER_ID = ''
      this.$data.form1data.NAME = ''
      this.$data.form1data.MORNING_START_TIME = '08:00'
      this.$data.form1data.MORNING_END_TIME = '10:00'
      this.$data.form1data.BREAKFAST_START_TIME = '08:00'
      this.$data.form1data.BREAKFAST_END_TIME = '10:00'
      this.$data.form1data.LUNCH_START_TIME = '12:00'
      this.$data.form1data.LUNCH_END_TIME = '14:30'
      this.$data.form1data.DINNER_START_TIME = '18:00'
      this.$data.form1data.DINNER_END_TIME = '21:30'
      this.$data.form1data.BED_START_TIME = '23:59'
      this.$data.form1data.BED_END_TIME = '08:00'
      this.$data.form1data.HEIGHT_UNIT = '0'
      this.$data.form1data.WEIGHT_UNIT = '0'
      this.$data.form1data.WAIST_UNIT = '0'
      this.errors.clear()
    },

    addBtn: function (e) {
      this.$validator.validateAll().then(success => {
        if (!success) {
          // console.log("Pleas")
          // alertify.alert(this.errors.all())
          return
        }
        this.$data.process = true
        this.$http.post('../api/?t=' + new Date().getTime(), {
          event: 'add_user',
          USER_ID: this.$data.form1data.USER_ID,
          NAME: this.$data.form1data.NAME,
          SEX: this.$data.form1data.SEX,
          SMOKER: this.$data.form1data.SMOKER,
          HAS_INJECTION: this.$data.form1data.HAS_INJECTION,
          BIRTHDAY: this.$data.form1data.BIRTHDAY,
          MORNING_START_TIME: this.$data.form1data.MORNING_START_TIME,
          MORNING_END_TIME: this.$data.form1data.MORNING_END_TIME,
          BREAKFAST_START_TIME: this.$data.form1data.BREAKFAST_START_TIME,
          BREAKFAST_END_TIME: this.$data.form1data.BREAKFAST_END_TIME,
          LUNCH_START_TIME: this.$data.form1data.LUNCH_START_TIME,
          LUNCH_END_TIME: this.$data.form1data.LUNCH_END_TIME,
          DINNER_START_TIME: this.$data.form1data.DINNER_START_TIME,
          DINNER_END_TIME: this.$data.form1data.DINNER_END_TIME,
          BED_START_TIME: this.$data.form1data.BED_START_TIME,
          BED_END_TIME: this.$data.form1data.BED_END_TIME,
          HEIGHT_UNIT: this.$data.form1data.HEIGHT_UNIT,
          WEIGHT_UNIT: this.$data.form1data.WEIGHT_UNIT,
          WAIST_UNIT: this.$data.form1data.WAIST_UNIT
        }).then(response => {
          this.$data.process = false
          if (response.body.loggedin === 'false' || response.body.success === 'failed') {
            // this.$data.otheralertmsg = response.body.msg
            // this.$refs.otheralert.open()
            alertify.alert(response.body.msg)
            console.log(response.body.msg)
          } else if (response.body.success === 'true') {
            alertify.alert('Success to add 1 record.')
            console.log('Success to add 1 record.')
            this.resetBtn(e)
          }
        }, response => {
          this.$data.process = false
          this.$refs.timeoutalert.open()
        })
      })
    },

    delBtn: function (e) {
      if (this.$data.form1data.selectedID !== -1) {
        var that = this
        alertify.confirm('Confirm?', function (ev) {
          ev.preventDefault()
          that.$http.post('../api/?t=' + new Date().getTime(), {
            event: 'del_user',
            USER_ID: that.$data.form1data.USER_ID
          }).then(response => {
            that.$data.process = false
            if (response.body.loggedin === 'false' || response.body.success === 'failed') {
              // this.$data.otheralertmsg = response.body.msg
              // this.$refs.otheralert.open()
              alertify.alert(response.body.msg)
              console.log(response.body.msg)
            } else if (response.body.success === 'true') {
              alertify.alert('Success to delete 1 record.')
              console.log('Success to delete 1 record.')
              that.$data.form1data.selectedID = -1
              that.resetBtn(e)
              that.form1modeChange(e)
            }
          }, response => {
            that.$data.process = false
            that.$refs.timeoutalert.open()
          })
        }, function (ev) {
          ev.preventDefault()
        })
      } else {
        alertify.alert('Please select account.')
      }
    },

    updateBtn: function (e) {
      if (this.$data.form1data.selectedID !== -1) {
        this.$validator.validateAll().then(success => {
          if (!success) {
            // console.log("Pleas")
            // alertify.alert(this.errors.all())
            return
          }
          this.$data.process = true
          this.$http.post('../api/?t=' + new Date().getTime(), {
            event: 'update_user',
            USER_ID: this.$data.form1data.USER_ID,
            NAME: this.$data.form1data.NAME,
            SEX: this.$data.form1data.SEX,
            SMOKER: this.$data.form1data.SMOKER,
            HAS_INJECTION: this.$data.form1data.HAS_INJECTION,
            BIRTHDAY: this.$data.form1data.BIRTHDAY,
            MORNING_START_TIME: this.$data.form1data.MORNING_START_TIME,
            MORNING_END_TIME: this.$data.form1data.MORNING_END_TIME,
            BREAKFAST_START_TIME: this.$data.form1data.BREAKFAST_START_TIME,
            BREAKFAST_END_TIME: this.$data.form1data.BREAKFAST_END_TIME,
            LUNCH_START_TIME: this.$data.form1data.LUNCH_START_TIME,
            LUNCH_END_TIME: this.$data.form1data.LUNCH_END_TIME,
            DINNER_START_TIME: this.$data.form1data.DINNER_START_TIME,
            DINNER_END_TIME: this.$data.form1data.DINNER_END_TIME,
            BED_START_TIME: this.$data.form1data.BED_START_TIME,
            BED_END_TIME: this.$data.form1data.BED_END_TIME,
            HEIGHT_UNIT: this.$data.form1data.HEIGHT_UNIT,
            WEIGHT_UNIT: this.$data.form1data.WEIGHT_UNIT,
            WAIST_UNIT: this.$data.form1data.WAIST_UNIT
          }).then(response => {
            this.$data.process = false
            if (response.body.loggedin === 'false' || response.body.success === 'failed') {
              // this.$data.otheralertmsg = response.body.msg
              // this.$refs.otheralert.open()
              alertify.alert(response.body.msg)
              console.log(response.body.msg)
            } else if (response.body.success === 'true') {
              alertify.alert('Success to update 1 record.')
              console.log('Success to update 1 record.')
              // this.resetBtn(e)
            }
          }, response => {
            this.$data.process = false
            this.$refs.timeoutalert.open()
          })
        })
      } else {
        alertify.alert('Please select account.')
      }
    },

    logoutBtn: function (e) {
      this.$data.process = true
      this.$http.post('../api/?t=' + new Date().getTime(), {
        event: 'logout'
      }).then(response => {
        this.$data.process = false
        window.location.reload()
      }, response => {
        this.$data.process = false
        // this.$refs.timeoutalert.open()
        alertify.error('Connection timeout. Please try again later.')
      })
    },

    form1modeChange: function (e) {
      if (!this.$data.form1mode) {
        this.$data.process = true
        this.$http.post('../api/?t=' + new Date().getTime(), {
          event: 'get_users_list'
        }).then(response => {
          this.$data.process = false
          if (response.body.loggedin === 'false') {
            alertify.alert(response.body.msg)
            console.log(response.body.msg)
          } else {
            this.$data.form1usersList = []
            this.$data.form1data.selectedID = -1
            for (var x = 0; x < response.body.length; x++) {
              this.$data.form1usersList.push({
                value: response.body[x].value,
                text: response.body[x].text
              })
            }
          }
        }, response => {
          this.$data.process = false
          alertify.error('Connection timeout. Please try again later.')
        })
      } else {
        this.resetBtn(e)
      }
    },

    selectedIDChange: function (e) {
      if (this.$data.form1data.selectedID !== -1) {
        this.$http.post('../api/?t=' + new Date().getTime(), {
          event: 'get_users_info',
          uid: this.$data.form1data.selectedID
        }).then(response => {
          this.$data.process = false
          if (response.body.loggedin === 'false' || response.body.success === 'failed') {
            alertify.alert(response.body.msg)
            console.log(response.body.msg)
          } else {
            this.$data.form1data.SEX = response.body.SEX
            this.$data.form1data.SMOKER = response.body.SMOKER
            this.$data.form1data.HAS_INJECTION = response.body.HAS_INJECTION
            this.$data.form1data.BIRTHDAY = response.body.BIRTHDAY
            this.$data.form1data.USER_ID = response.body.USER_ID
            this.$data.form1data.NAME = response.body.NAME
            this.$data.form1data.MORNING_START_TIME = response.body.MORNING_START_TIME
            this.$data.form1data.MORNING_END_TIME = response.body.MORNING_END_TIME
            this.$data.form1data.BREAKFAST_START_TIME = response.body.BREAKFAST_START_TIME
            this.$data.form1data.BREAKFAST_END_TIME = response.body.BREAKFAST_END_TIME
            this.$data.form1data.LUNCH_START_TIME = response.body.LUNCH_START_TIME
            this.$data.form1data.LUNCH_END_TIME = response.body.LUNCH_END_TIME
            this.$data.form1data.DINNER_START_TIME = response.body.DINNER_START_TIME
            this.$data.form1data.DINNER_END_TIME = response.body.DINNER_END_TIME
            this.$data.form1data.BED_START_TIME = response.body.BED_START_TIME
            this.$data.form1data.BED_END_TIME = response.body.BED_END_TIME
            this.$data.form1data.HEIGHT_UNIT = response.body.HEIGHT_UNIT
            this.$data.form1data.WEIGHT_UNIT = response.body.WEIGHT_UNIT
            this.$data.form1data.WAIST_UNIT = response.body.WAIST_UNIT
            this.errors.clear()
          }
        }, response => {
          this.$data.process = false
          alertify.error('Connection timeout. Please try again later.')
        })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.loginbox {
  margin-top: 50px;
  width: 500px;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ED2553;
  position: relative;
}

.title:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50px;
  background: #ED2553;
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
  transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
}

.material-button,
.alt-2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #ED2553;
  position: absolute;
  top: 40px;
  right: -70px;
  cursor: pointer;
  z-index: 100;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

.material-button .shape,
.alt-2 .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.material-button .shape:before,
.alt-2 .shape:before,
.material-button .shape:after,
.alt-2 .shape:after {
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before,
.alt-2 .shape:before {
  width: 25px;
  height: 4px;
}

.material-button .shape:after,
.alt-2 .shape:after {
  height: 25px;
  width: 4px;
}

.material-button.active,
.alt-2.active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg);
  -webkit-transform: translate(50%, -50%) rotate(0deg);
  -ms-transform: translate(50%, -50%) rotate(0deg);
}

.materialContainer {
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>
