<template>
  <div id="app">
    <hello></hello>
  </div>
</template>

<script>
import Hello from './components/Hello'

export default {
  name: 'app',
  components: {
    Hello
  }
}
</script>

<style>
@import url("../node_modules/vue-material/dist/vue-material.css");
@import url("//fonts.googleapis.com/icon?family=Material+Icons");
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/*body{
  background-image: url("./assets/photo2.jpg");
  background-repeat: repeat-x repeat-y;
  background-size: cover;
  background-position: center center;
    }*/

    body,
    html {
    }
</style>
